.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: solid 1px #27ae5f75;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.header button {
  height: 40px;
  padding: 0 12px;
  color: #fff;
  border: solid 1px #2980b9;
  background-color: #2980b9;
  border-radius: 8px;
  border-left: 0;
  transition: 0.25s;
}

.header button:hover {
  opacity: 0.8;
}

p, h3, form {
  margin: .5rem;
}